RewriteEngine on
RewriteRule contact contact.html
RewriteRule Projets/Citivox Projets/Citivox.html
RewriteRule Projets/Lautremoitie Projets/Lautremoitie.html
RewriteRule Projets/Thread Projets/Thread.html
RewriteRule Projets/ChatGourmand Projets/ChatGourmand.html
RewriteRule Projets/Realperso Projets/Realperso.html
