RewriteEngine on
RewriteRule contact contact.html
RewriteRule projects/citivox Projets/Citivox.html
RewriteRule projects/autre-moitie-du-soleil Projets/Lautremoitie.html
RewriteRule projects/thread Projets/Thread.html
RewriteRule projects/le-chat-gourmand Projets/ChatGourmand.html
RewriteRule projects/realisations Projets/Realperso.html
RewriteRule CV res/CV.pdf
